<section>
  <div class="core_values_container">
    <div class="missions_container">
      <div class="mission">
        <h3>Mission</h3>
        <p>Expressing the magic of Eden. Allowing the creation of nature refresh, cleanse, and rebuild us in the most pleasurable
        way.</p>
      </div>
  
      <div class="mission">
        <h3>Vision</h3>
        <p>To become the most trusted place for you and your family to break bread.</p>
      </div>
    </div>
  </div>

  <div class="core_values">
    <h2>Why Choose Malawi Village</h2>

    <div class="missions_container">
      <div class="principle">
        <div class="quality">
          <span class="material-symbols-outlined">waving_hand</span>
          <h4>High Quality</h4>
        </div>
        <div id="quality">
          <p>Quality is at the heart of everything we do. We carefully select the best materials. use skilled craftmaship, and rigorously test our product to ensure they meet the highest standards. When you choose us, You're choosing reliability, durability, and excellence. we believe in offering on the best , so you can shop with confidence, knowing you're getting a product that will last. </p>
        </div>
      </div>

      <!-- <div class="principle">
        <div class="quality">
          <span class="material-symbols-outlined">
            network_node
          </span>
          <h4>Integrity</h4>
        </div>
        <div id="integrity">
          <p>Quality is at the heart of everything we do. We carefully select the best materials. use skilled craftmaship, and rigorously test our product to ensure they meet the highest standards. When you choose us, You're choosing reliability, durability, and excellence. we believe in offering on the best , so you can shop with confidence, knowing you're getting a product that will last. </p>
        </div>
      </div> -->

      <div class="principle">
        <div class="quality">
          <span class="material-symbols-outlined">
            clean_hands
          </span>
          <h4>Cleanliness</h4>
        </div>
        <div id="cleanliness">
          <p>Quality is at the heart of everything we do. We carefully select the best materials. use skilled craftmaship, and rigorously test our product to ensure they meet the highest standards. When you choose us, You're choosing reliability, durability, and excellence. we believe in offering on the best , so you can shop with confidence, knowing you're getting a product that will last. </p>
        </div>
      </div>

      <div class="principle">
        <div class="quality">
          <span class="material-symbols-outlined">timeline</span>
          <h4>Accountability</h4>
        </div>
        <div id="accountability">
          <p>Quality is at the heart of everything we do. We carefully select the best materials. use skilled craftmaship, and rigorously test our product to ensure they meet the highest standards. When you choose us, You're choosing reliability, durability, and excellence. we believe in offering on the best , so you can shop with confidence, knowing you're getting a product that will last. </p>
        </div>
      </div>
    </div>
  </div>
</section>