<footer class="footer">
  <div class="middle">
    <ul>
      <a href="/about">
        <li>About us</li>
      </a>
      <a href="">
        <li>Guide</li>
      </a>
      <a href="/shop">
        <li>Products</li>
      </a>
      <a href="/testimonial">
        <li>Testimonials</li>
      </a>
      <a href="/contact">
        <li>Contact</li>
      </a>
    </ul>
  </div>
</footer>