<header>
  <div class="logo">
    <a href="/"><img src="/assets/logo.png" alt="" width="39"></a>
  </div>

  <nav>
    <div class="nav_left">
      <ul>
        <div><a href="/about">About</a><hr></div>
        <div><a href="">Guide</a><hr></div>
        <div><a href="/shop">Shop</a></div>
        <div><a href="/testimonial">Testimonials</a><hr></div>
        <div><a href="/contact">Contact</a><hr></div>
      </ul>
    </div>
  </nav>

  <div class="header_right">
    <span class="material-symbols-outlined">person</span>
    <a href="/cart">
      <span class="material-symbols-outlined">shopping_cart</span>
    </a>
  </div>
</header>