node_modules

 <!-- <% products.forEach(product => { %>
      <li>
        <a href="/products/<%= product.id %>">
          <%= product.name %> - $<%= product.price %>
        </a>
      </li>
    <% }) %> -->