<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
</head>
<body>
  <header>
    <a href="/">Back to Home</a>
  </header>

  <main>
    <!-- <h1>Contact Us</h1>
    <p>If you have any questions, feel free to reach out to us!</p> -->
    <section>
      <div class="contact">
        <h2>Contact us</h2>
        <p>Choose your preferred method of contact to connect with our Client Services team.
          <br>
        Our Client Advisors are here to help, providing information on your inquiries and advice on your purchases.
        </p>
      </div>

      <div class="contact_form">
        <h2>We Can't Wait To Hear From You!</h2>
        <form action="">
          <div class="bio">
            <input type="text" placeholder="First Name" required>
            <input type="text" placeholder="Last Name" required>
          </div>
          <input type="email" placeholder="Email" required>
          <input type="text" placeholder="Phone number" required>
          <input type="text" placeholder="Subject" required>
          <textarea name="" id="" rows="8" placeholder="Enter your message"></textarea>
        </form>
        <div class="hub_btns">
          <button class="btn contact_send">Send</button>
        </div>
      </div>

      <div class="email">
        <img src="" alt="">
        <h4>Email us</h4>
        <div class="email_link">
          <a href="">info@malawivillage.com</a>
        </div>
        <div class="email_text">
          <p>Due high amount of requests, we might take a few days to get back to you. We apologize for any inconveniece this may cause.</p>
        </div>
      </div>
    </section>
  </main>
</body>
</html>