<section>
  <div class="testimonial">
    <h2>Testimonails</h2>
    <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae placeat fugit quo deserunt. Quaerat assumenda delectus, tempore nostrum minima magnam possimus quia animi tempora distinctio rerum mollitia debitis qui incidunt?</p>            -->
  
    <div class="gallery_container">
      <div class="gallery_text">
        <h3>Gallery</h3>
      </div>
  
      <div class="gallery_related_images">
        <div class="related_images">
          <img src="/assets/tes-img1.jpg" alt="" width="300px">
        </div>
        <div class="related_images">
          <img src="/assets/tes-img9.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/tes-img2.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/tes-img3.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/tes-img4.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/tes-img5.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/tes-img6.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/tes-img7.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/tes-img8.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/test1.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/test2.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/test3.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/test4.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/test5.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/test6.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/test7.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/test8.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/test9.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/test10.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/test11.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/test12.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/test13.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/test14.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/test15.jpg" alt="">
        </div>
        <div class="related_images">
          <img src="/assets/test16.jpg" alt="">
        </div>
      </div>
  
      <div class="order_btn">
        <button class="btn order"><a href="https://www.instagram.com/malawi_village/profilecard/?igsh=aXV1b240bnozcHl2 ">Explore our Gallery</a></button>
      </div>
    </div>
  
    <!-- testimonails -->
    <h3>Hear what our customers say about us</h3>
     <div class="testimonial_container">
        <div class="testimonial_content">
          <div class="person">
            <img src="/assets/tes-img1.jpg" alt="" width="40">
            <h4>Mariam</h4>
          </div>
          <div class="person_tes">
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat sit veniam doloribus nam unde assumenda. Aperiam nulla reprehenderit iste voluptatum quia quam natus laudantium ipsa!</h5>
          </div>
        </div>
        <div class="testimonial_content">
          <div class="person">
            <img src="/assets/tes-img1.jpg" alt="" width="20">
            <h4>Jane</h4>
          </div>
          <div class="person_tes">
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat sit veniam doloribus nam unde assumenda. Aperiam nulla reprehenderit iste voluptatum quia quam natus laudantium ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
          </div>
        </div>
        <div class="testimonial_content">
          <div class="person">
            <img src="/assets/tes-img1.jpg" alt="" width="40">
            <h4>Ephraim</h4>
          </div>
          <div class="person_tes">
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat sit veniam doloribus nam unde assumenda. Aperiam nulla reprehenderit iste voluptatum quia quam natus laudantium ipsa! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, distinctio.</h5>
          </div>
        </div>
        <div class="testimonial_content">
          <div class="person">
            <img src="/assets/tes-img1.jpg" alt="" width="40">
            <h4>Chris</h4>
          </div>
          <div class="person_tes">
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat sit veniam doloribus nam unde assumenda. Aperiam nulla reprehenderit iste voluptatum quia quam natus laudantium ipsa! Lorem ipsum dolor sit amet.</h5>
          </div>
        </div>
        <div class="testimonial_content">
          <div class="person">
            <img src="/assets/tes-img1.jpg" alt="" width="40">
            <h4>Chris</h4>
          </div>
          <div class="person_tes">
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat sit veniam doloribus nam unde assumenda. Aperiam nulla reprehenderit iste voluptatum quia quam natus laudantium ipsa! Lorem ipsum dolor sit amet.</h5>
          </div>
        </div>
        <div class="testimonial_content">
          <div class="person">
            <img src="/assets/tes-img1.jpg" alt="" width="40">
            <h4>Chris</h4>
          </div>
          <div class="person_tes">
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat sit veniam doloribus nam unde assumenda. Aperiam nulla reprehenderit iste voluptatum quia quam natus laudantium ipsa! Lorem ipsum dolor sit amet.</h5>
          </div>
        </div>
        <div class="testimonial_content">
          <div class="person">
            <img src="/assets/tes-img1.jpg" alt="" width="40">
            <h4>Chris</h4>
          </div>
          <div class="person_tes">
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat sit veniam doloribus nam unde assumenda. Aperiam nulla reprehenderit iste voluptatum quia quam natus laudantium ipsa! Lorem ipsum dolor sit amet.</h5>
          </div>
        </div>
        <div class="testimonial_content">
          <div class="person">
            <img src="/assets/tes-img1.jpg" alt="" width="40">
            <h4>Chris</h4>
          </div>
          <div class="person_tes">
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat sit veniam doloribus nam unde assumenda. Aperiam nulla reprehenderit iste voluptatum quia quam natus laudantium ipsa! Lorem ipsum dolor sit amet.</h5>
          </div>
        </div>
        <div class="testimonial_content">
          <div class="person">
            <img src="/assets/tes-img1.jpg" alt="" width="40">
            <h4>Chris</h4>
          </div>
          <div class="person_tes">
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat sit veniam doloribus nam unde assumenda. Aperiam nulla reprehenderit iste voluptatum quia quam natus laudantium ipsa! Lorem ipsum dolor sit amet.</h5>
          </div>
        </div>
      </div>
  </div>
</section>