body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .cart-page {
    width: 90%;
    padding: 20px;
    /* background-color: #f9f9f9; */
    margin:40px auto;
  }
  
  .cart-page h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
  }
  
  .cart-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .cart-items {
    flex: 3;
  }
  
  .cart-item {
    display: flex;
    align-items: start;
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;
  }
  
  .cart-item-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;

  }
  
  .cart-item-details {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    gap: 30px;
  }
  
  .cart-item-details h3 {
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 500;
  }
  
  .cart-item-details p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  
  .order-summary {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .order-summary > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }
  
  .order-summary h2 {
    
  }
  
  .order-summary p {
    font-size: 14px;
    margin: 5px 0;
    color: #333;
    font-weight: 700;
  }
  
  .order-summary hr {
    margin: 15px 0;
  }
  
  .payment-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #ffd600;
    border: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .payment-button:hover {
    background-color: #ffb800;
  }